<!-- templates/products.html -->
{% extends 'base.html' %}
{% block content %}
<section class="products">
    <div class="container">
        <h2>產品介紹</h2>
        <div class="products">
            <img src="{{ url_for('static', filename='product1.jpg') }}" alt="產品圖片">
            <div class="products-info">
                <h3>產品線</h3>
                
                <p>線纜組件與線束</p>
                
                <p>醫療用電纜 — 可重複使用與一次性使用</p>
                <p></p>
                <p>客製化電機機構元件</p>
                <p></p>
                <p>電子元件與組件</p>
                <p></p>
                <p>客製化最終產品</p>
                <p></p>
                <p>通過 ISO 9001:2015 及 ISO 13485:2016 認證</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}