<!-- templates/products.html -->
{% extends 'base.html' %}
{% block content %}
<section class="products_en">
    <div class="container">
        <h2>Product Line</h2>
        <div class="products_en">            
            <div class="product-info">
                <h3>Business Lines</h3>
                
                <p>Cable Assemblies & Wire Harness</p>
                <img src="{{ url_for('static', filename='CableAssmbly.jpg') }}" alt="產品圖片" style="width: 80%;">    
                <p>Medical Cables - reuseable & disposable</p>
                <img src="{{ url_for('static', filename='MedicalCable.jpg') }}" alt="產品圖片" style="width: 80%;">    
                <p></p>
                <p>Custom-made Electric-mechanic Components</p>
                <img src="{{ url_for('static', filename='components.jpg') }}" alt="產品圖片" style="width: 80%;">  
                <p></p>
                <p>Electronic Components & Assemblies</p>
                <img src="{{ url_for('static', filename='PCBA.jpg') }}" alt="產品圖片" style="width: 80%;"> 
                <p></p>
                <p>Custom-made End Products</p>
                <img src="{{ url_for('static', filename='Assembly.jpg') }}" alt="產品圖片" style="width: 80%;">  
                <p></p>
                <p>Certified to ISO 9001:2015 & ISO 13485:2016</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}